:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    font-family: "Kay Pho Du", serif;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
/* button:hover {
    border-color: #646cff;
} */
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
nav {
    display: flex;
    align-items: center;
    padding: 0 160px 0 80px;
    max-width: 100%;
    box-shadow: 0 0 5px #7c7c7c;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav img {
    width: 40px;
    height: 40px;
}
nav h2 {
    font-size: 1.5rem;
    white-space: nowrap;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 4rem;
}
nav ul li {
    font-size: 1.1rem;
}
.hero {
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    min-height: 90vh;
    margin-top: -20px;
    font-family: "Kay Pho Du", serif;
}
.hero div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}
.hero h1 {
    font-size: 3.1rem;
    color: #000;
    margin-block: 0;
}
.hero h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-block: 0;
}
.hero img {
    max-width: 45%;
}
.hero button {
    padding: 17px 33px;
    background-color: rgb(30, 30, 110);
    color: #fff;
    box-shadow: 0 0 4px #f0eeeb;
}
.input-fields {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0eeeb;
}
.input-fields > div {
    display: flex;
    padding: 20px 60px;
    width: 50%;
    position: relative;
    flex-direction: column;
    background-color: #fff;
}
.input-fields div img {
    width: 30px;
    height: 30px;
}
.input-fields .drop-down {
    width: 30px;
    height: 30px;
    margin-left: auto;
}
.expanded {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.expanded h2 {
    margin: 8px;
    align-self: flex-start;
}
.personal-info {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 0;
}
.personal-info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.personal-info div.contact,
div.personal-info--top {
    flex-direction: row;
}
div.personal-info--top > div:first-child {
    gap: 17px;
}
.personal-info div.contact {
    gap: 1.5rem;
}
.user-img {
    align-self: center;
    margin-left: auto;
}
.user-img img {
    width: 50px;
    height: 50px;
}
.user-img input {
    display: none;
}
label {
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 5px;
}
.personal-info input {
    max-width: 280px;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: #f0eeeb;
}
input#email,
input#tel {
    max-width: 220px;
}
input#location {
    max-width: 80%;
    width: 78%;
}
.profile-detail {
    display: flex;
    padding: 5px 80px 5px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
}
.profile-detail div {
    display: flex;
    flex-direction: column;
}
.profile-detail div div {
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    gap: 8px;
}
.profile-detail > div:last-child button {
    margin-right: 110px;
    margin-top: -70px;
    position: absolute;
}
.profile-detail div div img {
    width: 20px;
    height: 20px;
}
.profile-detail img.profile-pic {
    width: 60px;
    height: 70px;
}
.save-cancel {
    position: sticky;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    top: 60vh;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 15px 8px;
}
.save-cancel button {
    padding: 8px 35px;
    color: #fff;
    background-color: rgb(3, 197, 103);
}
.save-cancel button:first-child {
    background-color: rgb(248, 62, 62);
}
.category {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.education,
.work-experience,
.skills,
.awards,
.languages {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 0;
}
.education div,
.work-experience div,
.skills div,
.awards div,
.languages div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.address,
div.time {
    flex-direction: row;
    justify-content: space-between;
}
input {
    max-width: 280px;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: #f0eeeb;
}
input#degree,
input#school {
    max-width: 100%;
    width: 90%;
}
select {
    padding: 12px;
    background-color: #f0eeeb;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    width: 300px;
}
